@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #ffffff;
        --foreground: #09090b;
        --primary: #18181b;
        --secondary: #f4f4f5;
        --accent: #2563eb;
        /* Blue-600 */
        --muted: #f4f4f5;
        --muted-foreground: #71717a;
        --border: #e4e4e7;
    }

    .dark {
        --background: #09090b;
        /* Zinc-950 */
        --foreground: #fafafa;
        /* Zinc-50 */
        --primary: #fafafa;
        --secondary: #27272a;
        /* Zinc-800 */
        --accent: #3b82f6;
        /* Blue-500 */
        --muted: #27272a;
        --muted-foreground: #a1a1aa;
        --border: #27272a;
    }

    body {
        @apply bg-background text-foreground transition-colors duration-300;
    }
}

@layer utilities {
    .text-muted-foreground {
        color: var(--muted-foreground);
    }
}